
html{
	background-color: white ;
	font-family:Calibri, sans-serif;
	height: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: -20px;
    overflow: scroll;
    text-align: center;
    align-content: center;
    align-items: center;
}

body{
	background-color: white;
	width: 100%;
	min-height: calc(100vh - 393px);
	height: 100%;
	display: inline-block;
	text-align: center;
	position: relative;
	padding: 0;
	margin: 0;
}

.mainBody{
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
	background-color: white;
	margin-bottom: 50px;
	padding-bottom: 50px;
	position: relative;
}

.headerWrapper {
	min-height: calc(100vh - 735px);
}

.wrapper {
	padding-top: -50px;
	min-height: calc(100vh - 958px);
}

footer{
	clear: both; 
	position: relative; 
	z-index: 10; 
	width: 100%;
    bottom:0px;
	text-align: left;
	font-size: 12px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family:Calibri, sans-serif;
	color: white;
	background: linear-gradient(#303030, #696969, #C0C0C0);
	margin: 0;
	padding: 0;
}

* html #footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

.address{
	margin-left:20px;
	float:left;
}

label{
 display: block;
 align-content: center;
 text-align: center;
 margin-top: 5px;
}


table, tr{
	  border: 1px solid black;
	  padding: 20px 20px 20px 20px;
	  margin-top: 60px;
}

.survey{
    border: 1px solid black;
    justify-content: center;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 20px 20px 20px;
}

input{
	margin-top: 10px;
	text-align: center;
	content-align: center;
	color: black;
}

.radioButton{
	display: inline;
}

#loginBtn{
	text-align: center;
}

.form{
	padding-top:10px;
	background-color: white ;
	display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.error{
	text-align: center;
	color:red;
}

.title{
	text-align: center;
	align-content:center;
	color: #3A3A3A;
}

.sixSBtn {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  color: #ffffff;
  font-size: 20px;
  background: #FF4500;
  margin-top: 30px;
  padding: 10px 20px 10px 20px;
  text-align: center;
  margin-bottom: 40px;
}

.sixSBtn:hover {
  background: #FF8F66;
  background-image: -webkit-linear-gradient(top, #FF8F66, #FF8F66);
  background-image: -moz-linear-gradient(top, #FF8F66, #FF8F66);
  background-image: -ms-linear-gradient(top, #FF8F66, #FF8F66);
  background-image: -o-linear-gradient(top, #FF8F66, #FF8F66);
  background-image: linear-gradient(to bottom, #FF8F66, #FF8F66);
  text-decoration: none;
}

.menu-bar {
  width: 80%;
  margin: 0px 0px 0px 0px;
  padding-top: 5px;
  font-size: 30px;
  background: white;
  padding-bottom: 5px;
}

.menu-bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
    bottom: 0;
    text-align:center;
}

.menu-bar li {
 	display: inline;
 	width: (100/number of li)%;
    list-style-type:none;
    padding: 5px 5px 0px 0px;
    font-size: 20px;
}

.menu-bar li a {
	display: inline-block;
    color: black;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    padding-bottom: -30px;
    font-size: 18px;
}
.menu-bar a {
  font-weight: bold;
  font-family:Calibri, sans-serif;
  font-style: normal;
  color: #282828;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-top: 15px;
  border-radius: 10px;
}


.menu-bar .active a, .menu-bar li:hover > a {
  background: #EBEBEB;
  background: linear-gradient(top,  #EBEBEB,  #A1A1A1);
  background: -ms-linear-gradient(top,  #EBEBEB,  #A1A1A1);
  background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#A1A1A1));
  background: -moz-linear-gradient(top,  #EBEBEB,  #A1A1A1);
  color: #444444;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-shadow: 2px 2px 3px #FFFFFF;
}
.menu-bar ul li:hover a, .menu-bar li:hover li a {
  background: none;
  border: none;
  color: #666;
  -box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.menu-bar ul a:hover {
  background: #3A3A3A !important;
  color: #FFFFFF !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-shadow: 0px 0px 0px #FFFFFF;
}
.menu-bar li:hover > ul {
    text-align: center;
}
.menu-bar ul {
  background: #DDDDDD;
  background: linear-gradient(top,  #FFFFFF,  #CFCFCF);
  background: -ms-linear-gradient(top,  #FFFFFF,  #CFCFCF);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CFCFCF));
  background: -moz-linear-gradient(top,  #FFFFFF,  #CFCFCF);
  display: none;
  margin: 0;
  padding: 0;
  width: 75%;
  padding-right: 15px;
  display: inline-block;
  position: relative;
  text-align: center;
  left: 175px;
  border: solid 1px #B4B4B4;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-box-shadow: 2px 2px 3px #222222;
  -moz-box-shadow: 2px 2px 3px #222222;
  box-shadow: 2px 2px 3px #222222;
}
.menu-bar ul li {
  font-family:Calibri, sans-serif;
  float: right;
}
.menu-bar ul a {
  color:#424242 !important;
  font-size:12px;
  font-style:normal;
  font-family:arial;
  font-weight: normal;
  text-shadow: 2px 2px 3px #FFFFFF;
}
.menu-bar ul li:first-child > a {
  border-top-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
}
.menu-bar ul li:last-child > a {
  border-bottom-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
}
.menu-bar:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.menu-bar {
  display: inline-block;
  text-align: right;
}
  html[xmlns] .menu-bar {
  display: block;
}
* html .menu-bar {
  height: 1%;
}

.footerIcon {
	margin: 5px 5px 0px 0px;
}

.preFooter {
	overflow: hidden;
	background-color: black;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 18px;
}

.preFooter ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
    bottom: 0;
    text-align:center;
}

.preFooter li {
    display: inline;
    list-style-type:none;
    padding: 5px 5px 0px 0px;
}

.preFooter li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

.preFooter a {
	color: white;
}

.postFooter {
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-size: 12px;
	background-color: black;
	color: white;
	text-align:center;
}

.container {
	display: flex;
	margin: 20px auto;
	width: 1000px;
	font-size: 14px;
	justify-content: space-evenly;
}

.headerIcon {
	padding-right:2px;
}

.mainHeader {
	background-color: #303030;
	color: white;
	margin-bottom: 10px;
	font-size: 14px;
}

.mainHeader p {
	display: inline-block;
	padding: 5px 5px 5px 20px;
	margin:0;
	font-size: 14px;
}

.postHeader {
	background-color: #282828;
	color: white;
	text-align: center;
	font-size: 16px;
}

.title {
	text-align: center;
}
